
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(168, 185, 185);
}

  .btn {
    display: inline-block;
    background: rgb(34, 44, 77);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }

  .hr {
    color: black;
    width: 80%;
    background-color: black;
    height: 3px;
    border-color: black;
    align-items: center;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
